/** 
 * Based on https://codepen.io/rebelchris/pen/vYRxZLP by Chris Bongers.
 * Modified slightly as this project does not use Sass!
 */

.holder {
  transform-style: preserve-3d;
  transform: rotateX(-15deg);
  transform-origin: center;
  text-align: center;
  position: relative;
  --cylinder-width: calc(40vmin + 150px);
  --face-count: 30;
  --face-deg: calc(360deg / var(--face-count));
  --face-width: calc(var(--cylinder-width) / var(--face-count) + 0.2vmin);
  --face-shift: calc(var(--cylinder-width) / var(--pi) / 2);
  --pi: 3.14159265358979;
  --index: 0;
  --filter: hue-rotate(139deg) brightness(180%) opacity(100%);
  align-items: center;
  width: 100%;
  height: calc(100% - 20px);
  user-select: none;
}

.cylinder {
  position: relative;
  height: 50vw;
  width: 100%;
  top: 50%;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: spin 5s infinite linear;
  transform: translateY(-50%) rotateY(0deg);
}

.face {
  position: absolute;
  opacity: 100%;
  height: 90px;
  width: var(--face-width);
  top: 50%;
  left: 50%;
  margin: auto;
  /* Translating 50% 50% means that position for top/left is center */
  transform: translate(-50%, -50%) scaleX(-1) scaleY(1) rotateY(calc(var(--face-deg) * var(--index))) translateZ(calc(var(--face-shift))) translate3d(0, 0, 0);
  filter: var(--filter);
}

@keyframes spin {
  to {
    transform: translateY(-50%) rotateY(-360deg);
  }
}

.bigIconHolder {
  position: absolute;
  width: 100%;
  height: calc(11vmin + 40px);
  animation: bob 1.25s infinite ease-in-out alternate-reverse;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: calc(50% + 8vmin + 10px);
  filter: var(--filter);
}

@keyframes bob {
  to {
    transform: translate(-50%, 3vmin);
  }
}

.label {
  position: absolute;
  text-align: center;
  top: calc(50% + 5vmin + 20px);
  width: 50%;
  padding: 0 25%;
}