.container {
    width: 100%;
    background-color: #252525;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
}

.lcontainer {
    margin-right: 10px;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gearIcon {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.gearNameContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 10px;
    align-items: center;
}

/*Icon that appears for named items*/
.brandIcon {
    background-color: white;
    border-radius: 10%;
}

.gearNameLabel {
    margin: 0 0;
    align-self: center;
}

.rcontainer {
    width: 70%;
}

.categoryLabel {
    margin-bottom: 0;
    margin-top: 0;
}

.brandIconList {
    background-color: white;
    border-radius: 10%;
}

.brandIconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}


.abilityIcon {
    background-color: black;
    border-radius: 100%;
    margin: 10px;
}

.abilityIconContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: left;
    gap: 5px;
    align-items: center;
}

.rarityMeter {
    position: absolute;
    bottom: 0;
    width: 100%;
}