.container {
}

.searchIcon {
  
}

.searchbar {
  margin: 5px;
  color: black;
}

.listContainer {
  height: 60vh;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 30px;
}

.list {
  display: grid;
  width: 100%;
  max-height: 100%;

  overflow-y: scroll;
  flex-wrap: wrap;
  margin: auto auto;
  justify-content: center;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, calc(8vmin + 55px));

  padding: 10px 0;
  background-color: var(--background);
  border-radius: 10px;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: calc(8vmin + 45px);
  padding: 5px;
  background-color: var(--background-alt);
  border-radius: 10px;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--item-hover);
}

.listItem.disabled {
  cursor: default;
}

.listItem.disabled:hover {
  background-color: var(--background-alt);
}

.listItem:active {
  background: var(--item-active);
}

.listItemImageContainer {
  position: relative;
}


.listItemGearIcon {
  height: calc(8vmin + 40px);
  width: calc(8vmin + 40px);
  margin: auto auto;
  position: relative;
}

.listItemLabelContainer {
  min-height: 40px;
  height: fit-content;
  vertical-align: center;
  padding: 5px 0;
}

.listItemLabel {
  font-family: var(--font-family-ui);
  text-align: center;
  margin: auto 0;
}

.listItemBrandIcon {
  position: absolute;
  width: calc(2vmin + 15px);
  height: calc(2vmin + 15px);

  background-color: white;
  border-radius: 5px;
  bottom: 0%;
  right: 0%;
  border-color: var(--selected-color);
  border-width: 2px;
}

.clearSearchButton {
  padding: 0;
  margin: 0;
  height: fit-content;
  width: fit-content;
  line-height: 0;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}