.container {
}

.searchIcon {
  
}

.searchbar {
  margin: 5px;
  color: black;
}

.listContainer {
  height: 60vh;
  width: fit-content;
}

.list {
  width: fit-content;
  max-height: 100%;
  height: fit-content;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  justify-content: left;
  gap: 5px;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: calc(8vmin + 45px);
  padding: 5px;
  background-color: var(--background-alt);
  border-radius: 10px;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--item-hover);
}

.listItem:active {
  background: var(--item-active);
}

.listItemImageContainer {
  position: relative;
}


.listItemGearIcon {
  height: calc(8vmin + 40px);
  width: calc(8vmin + 40px);
  margin: auto auto;
  position: relative;
}

.listItemLabel {
  font-family: var(--font-family-ui);
  text-align: center;
}

.listItemBrandIcon {
  position: absolute;
  width: calc(2vmin + 15px);
  height: calc(2vmin + 15px);

  background-color: white;
  border-radius: 5px;
  bottom: 0%;
  right: 0%;
  border-color: var(--selected-color);
  border-width: 2px;
}

.clearSearchButton {
  padding: 0;
  margin: 0;
  height: fit-content;
  width: fit-content;
  line-height: 0;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}