.mainIcon {
  width: 80px;
  margin: 0 5px;
  position: relative;
  height: 100%;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
  background-color: black;
}

.headerMainText {
  margin: 0;
  cursor: pointer;
  line-height: 100%;
  font-size: 24px;
}

.headerSubText {
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

.footer {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  padding-top: 8px;
  background: black;
  justify-content: center;
  width: auto;
}