.iconContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bigIconContainer {
  position: relative !important;
  width: calc(5vmin + 10px);
  height: calc(5vmin + 10px);
}

.bigIcon {
  border-radius: 100%;
  background-color: var(--ability-background);
  border-width: 2px;
  object-fit: cover;
  position: relative;
}

.smallIconContainer {
  --width: calc(3.5vmin + 5px);
  --outlineWidth: 2px;
  width: var(--width);
  height: var(--width);
  position: relative !important;
  margin-left: 2px;

  border-radius: 100%;
  border-width: 2px;
  border-color: transparent;
}

.smallIconContainer.outline {
  width: calc(var(--width) - var(--outlineWidth) * 2);
  height: calc(var(--width) - var(--outlineWidth) * 2);
  border-radius: 100%;
  border-width: var(--outlineWidth);
  border-color: black;
  border-style: dashed;
}

.smallIconContainer.hide {
  visibility: hidden;
}

.smallIcon {
  border-radius: 100%;
  background-color: var(--ability-background);
  width: 15%;
  object-fit: cover;
  position: relative;
}

.smallIcon.outline {
  visibility: hidden;
}
