.itemDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--background-alt);
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  max-height: 50vmin;
  overflow-y: auto;
}

.categoryLabel {
  margin-bottom: 0;
}

.itemContainer {
    width: 100%;
    position: relative;
    background-color: var(--background-alt);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 22px;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
}

.itemContainer:hover {
  background-color: var(--item-hover);
}

.itemContainer:active {
  background-color: var(--item-active);
}

.itemContainer.disabled:hover {
  background-color: var(--item-background);
}


.selected {
    border-color: var(--selected-color);
    border-width: 2px;
    border-style: solid;
}

.disabled {
    filter: brightness(50%);
}

.itemIcon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 100%;
    width: 100%;
    user-select: none;
    background-color: white;
    border-radius: 10%;
}

.itemIcon.brand {
  background-color: white;
  border-radius: 10%;
}

.itemIcon.ability {
  background-color: black;
  border-radius: 100%;
}

.itemIcon.type {
  background: none;
}

.itemLabelText {
    font-style: normal;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    margin: 0;
    opacity: 1;
}

.itemLabelContainer {
    align-self: center;
    padding: 4px 8px;
    margin-top: 4px;    
}