.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-self: center;
  justify-items: center;
}

.panel {
  width: calc(90vw - 30px);
  margin: 10px 0;
  max-width: calc(100% - 20px);
  padding: 20px;
}

.selectorGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  overflow-x: auto;
  gap: 10px;
}

.directionRow {
  flex-direction: row;
  align-items: flex-start;
}

.directionColumn {
  flex-direction: column;
  align-items: center;
}

.directionColumn .selectorContainer {
  width: 80vmin;
  max-width: 100%;
}

.directionRow .selectorContainer {
  width: 100%;
  max-width: 30vw;
}

.filterViewContainer {
  width: 80vmin;
  margin: 0 auto;
}

.combinedGearAndTipUIContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.gearSelectUIContainer {
  min-width: 60vmin;
  width: auto;
}

.tipContainer {
  width: 40%;
  min-width: calc(70vmin - 20px);
  margin: auto auto;
  border-style: dashed;
  padding: 10px;
  border-color: gray;
  border-radius: 10px;
}

.gearItemContainer {
  height: fit-content;
  width: fit-content;
  gap: 10px;
  position: relative;
}

.gearItemRightDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}