@import url('./fonts.css');

:root {
  --ability-background: black;
  --selected-color: rgb(220, 255, 65);
  --button-hover: rgb(66, 66, 66);
  --button-active: rgb(35, 35, 35);
  --button-disabled-filter: brightness(50%);
  --background-alt: rgb(42, 42, 42);
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-family-s1);
}

.app-container {
  width: 70vmin;
  margin: 0 auto;
}

p {
  font-family: var(--font-family-ui);
}

h1 {
  font-family: var(--font-family-s1);
  font-weight: 200;
}

h2 {
  font-family: var(--font-family-s1);
  font-weight: 200;
}

h3 {
  font-family: var(--font-family-s2);
  font-style: normal;
  font-weight: 200;
}

h4 {
  font-family: var(--font-family-s2);
  font-weight: 200;
}

h5 {
  font-family: var(--font-family-ui);
  font-weight: 200;
}

button {
  background-color: grey;
  padding: 0 15px;
  border-radius: 100000px;
  color: white;
  font-family: var(--font-family-s2);
  font-weight: 200;
  font-size: 2vmin;
}

button:hover {

}