@import url('./fonts.css');

:root {
  --background: black;
  --ability-background: black;
  --selected-color: rgb(220, 255, 65);
  
  --button-background: rgb(55, 35, 143);
  --button-hover: rgb(88, 72, 158);
  --button-active: rgb(41, 25, 110);
  --button-disabled-filter: brightness(50%);
  
  --background-alt: rgb(42, 42, 42);
  --item-background: rgb(42, 42, 42);
  --item-hover: rgb(66, 66, 66);
  --item-active: rgb(35, 35, 35);
  --item-disabled-filter: brightness(50%);
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-family-s1);
}

.app-container {
  width: 100%;
  margin: 0 auto;
}

p {
  font-family: var(--font-family-ui);
}

h1 {
  font-family: var(--font-family-s1);
  font-weight: 200;
}

h2 {
  font-family: var(--font-family-s1);
  font-weight: 200;
}

h3 {
  font-family: var(--font-family-s2);
  font-style: normal;
  font-weight: 200;
}

h4 {
  font-family: var(--font-family-s2);
  font-weight: 200;
}

h5 {
  font-family: var(--font-family-ui);
  font-weight: 200;
}

button {
  background-color: var(--button-background);
  padding: 0 15px;
  border-radius: 100000px;
  color: white;
  font-family: var(--font-family-s2);
  font-weight: 200;
  font-size: 2.5vmin;
  font-style: normal;
}

button:hover:enabled {
  background-color: var(--button-hover);
}

button:active:enabled {
  background-color: var(--button-active);
}

button:disabled {
  filter: var(--button-disabled-filter);
}

div::-webkit-scrollbar       {
  background-color:var(--background-alt);
  width:12px;
  margin-right: 2px;
  border-radius: 12.5px;
}
div::-webkit-scrollbar-track {
  background-color: var(--background-alt);
}

div::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;

  border:3.5px solid var(--background-alt)
}
div::-webkit-scrollbar-thumb:hover {
  border-radius:16px;
  border:3px solid #babac0
}

.inputContainer {
  border-radius: 1000000px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.inputContainer:active {
  border-color: var(--selected-color);
}

input {
  resize: none;
  border: none;
  font-family: var(--font-family-ui);
  text-align: left;
  display: inline-block;
  overflow: hidden;
  background-color: #00000000;
  width: 100%;
}

input:active {
  border: none;
}